h1{
    position: absolute;
    width: 600px;
    height: 225px;
    left: 80px;
    top: 108px;

    /* H1 */

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;

    /* Text-primary */

    color: #000000;
}

p{
    position: absolute;
    width: 600px;
    height: 128px;
    left: 80px;
    top: 365px;
    
    /* P1 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    
    /* Text-secondary */
    
    color: #646464;  
}

.berries-banner{
    position: absolute;
    width: 600px;
    height: 440px;
    left: 760px;
    top: 80px;

    border-radius: 40px;
}

main-cards{
    position: absolute;
    width: 1440px;
    height: 888px;
    left: 0px;
    top: 700px;
    
}

yellow-card{
    position: absolute;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;

    background: #FEBD2F;
    border-radius: 40px; 
}

h2{
    position: absolute;
    height: 188px;
    left: 10%;
    right: 10%;
    top: calc(50% - 188px/2 - 27px);

    /* H2 */

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    /* Text-primary */

    color: #000000;
}