footer{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 1586px;


    background: #FEBD2F;
}

.footer-logo{
    position: absolute;
    width: 129.62px;
    height: 32px;
    left: 655px;
    top: 24px;
}