header{

}


.courses{
    position: absolute;
    width: 60px;
    height: 19px;
    left: 80px;
    top: 38px;


    /* Button-2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Text-primary */

    color: #000000;
}

.about-us{
    position: absolute;
    width: 65px;
    height: 19px;
    left: 187px;
    top: 38px;

    /* Button-2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    white-space: nowrap;

    /* Text-primary */

    color: #000000;
}

.sweet-berries-logo{
    position: absolute;
    width: 162.03px;
    height: 40px;
    left: 639px;
    top: 30px;
}

.get-started-button{
    position: absolute;
    width: 130px;
    height: 48px;
    left: 1230px;
    top: 26px;
    background:#000000;
    border-radius: 28px;
}

.button-text{
    position: absolute;
    width: 82px;
    height: 19px;
    top: 40px;
    font-family:'Roboto';
    font-style:normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}