.container {
    display: grid;
    margin-left: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 40px;
    align-content:center;
  }
  
  

.yellow{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 324px;
  left: 80px;
  top: 740px;
  background: #FEBD2F;
  border-radius: 40px;
  margin-left:40px;


}

h2{
    height: 188px;
    width: 320px;
    left: 40px;
    top: 41px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px; 
    color: #000000;
    margin-left:40px;
}

h3{
    margin-left:40px;
    margin-bottom: 24px;

}

.card1{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 324px;
    width: 400px;
    left: 520px;
    top: 740px;
    background: #FFFFFF;
    border-radius: 40px;
    margin-left:40px;

}

.card2{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 400px;
  height: 324px;
  left: 960px;
  top: 740px; 
  background: #FFFFFF;
  border-radius: 40px;
  margin-left:40px;

}

.card3{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;  
  gap: 32px;
  
  width: 400px;
  height: 324px;
  left: 80px;
  top: 1144px;
  background: #FFFFFF;
  border-radius: 40px;
  margin-left:40px;

}

.card4{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 400px;
  height: 324px;
  left: 520px;
  top: 1144px;
  background: #FFFFFF;
  border-radius: 40px;
  margin-left:40px;

}

.card5{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 400px;
  height: 324px;
  left: 960px;
  top: 1144px;
  background: #FFFFFF;
  border-radius: 40px;
  margin-left:40px;

}


.card1-text{
    height: 112px;
    width: 320px;
    left: 0px;
    top: 52px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    color: #646464;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left:40px;

}

.card2-text{
    height: 112px;
    width: 320px;
    left: 0px;
    top: 52px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #646464;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left:40px;

}

.card3-text{
    height: 112px;
    width: 320px;
    left: 0px;
    top: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #646464;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left:40px;

}

.card4-text{
    height: 112px;
    width: 320px;
    left: 0px;
    top: 52px;
    border-radius: nullpx;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #646464;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left:40px;

}

.card5-text{
    height: 112px;
    width: 320px;
    left: 0px;
    top: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #646464;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left:40px;
}

.card1-button{
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;
    
    border: 1px solid #DCDCDC;
    border-radius: 50px;
}

.card2-button{
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;

    /* Outline */

    border: 1px solid #DCDCDC;
    border-radius: 50px;

}

.card3-button{
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;
   
    
    border: 1px solid #DCDCDC;
    border-radius: 50px;
}

.card4-button{
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;
    
    /* Outline */
    
    border: 1px solid #DCDCDC;
    border-radius: 50px;
}

.card5-button{
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;
    border: 1px solid #DCDCDC;
    border-radius: 50px;
}

.knife{
    position: absolute;
    left: 69%;
    right: 9.4%;
    top: -13%;
    bottom: 14.12%;
}

.pot{
    position: absolute;
    left: 69%;
    right: 8.33%;
    top: -13%;
    bottom: 90.99%;
}


.clipboard{
    position: absolute;
    left: 69%;
    right: 69.44%;
    top: -13%;
    bottom: 28.93%;
}

.leaf{
    position: absolute;
    left: 69%;
    right: 38.89%;
    top: -13%;
    bottom: 45.5%;
}

.hamburger{
    position: absolute;
    left: 69%;
    right: 8.33%;
    top: -13%;
    bottom: 45.5%;
}