.grid-container{
    position:absolute;
    display: grid;
    background-color:white;
    padding:40px;
    gap:32px;
    grid-template-columns:100px 100px/100px 100px 100px ;
}

.card-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    position: absolute;
    width: 400px;
    height: 324px;
    left: 520px;
    top: 40px;
    /* Card */
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.card-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    position: absolute;
    width: 400px;
    height: 324px;
    left: 960px;
    top: 40px;
    /* Card */
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;   
}

.card-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    position: absolute;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 444px;
    /* Card */
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;

}

.card-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    position: absolute;
    width: 400px;
    height: 324px;
    left: 520px;
    top: 444px;
    /* Card */
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
     
}

.card-5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
    
    position: absolute;
    width: 400px;
    height: 324px;
    left: 960px;
    top: 444px;
    /* Card */
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px; 
}